@import "variables";

.pricing {
    padding: 0 10px 0 10px;
    padding-left: 28px;
    padding-right: 28px;
    text-align: center;
    background-color: $pricingBackground;
    height: 2189px;

    @media (min-width: $width-640) {
        height: 1319px;
        background-image: url(/src/img/background_subs_768px.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    @media (min-width: $width-768) {

        padding: 0px;
        overflow: hidden;
        height: 1319px;
    }

    @media (min-width: $width-992) {
        height: 800px;
    }
}

.pricing__title { 
    margin-bottom: 32px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    color: #fff;

    @media (min-width: $width-480) {
        font-size: 32px;
        margin-bottom: 40px;
    }

    @media (min-width: $width-576) {
        font-size: 36px;
        margin-bottom: 50px;
    }

    @media (min-width: $width-740) {
        // margin-top: 88px;
        font-size: 42px;
        line-height: 44px;
        margin-bottom: 39px;
    }


    @media (min-width: $width-1200) {
        font-size: 48px;
        line-height: 50px;
        margin-top: 75px;
    }

}

.pricing__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media (min-width: $width-576) {
        width: 476px;
        margin: 0 auto;
    }

    @media (min-width: $width-640) {
        width: 620px;
    }


    @media (min-width: $width-740) {
        width: 740px;
        margin: 0 auto;
    }

    @media (min-width: $width-992) {
        width: 973px;
    }


    @media (min-width: $width-1200) {
        width: 1200px;
        margin: 0;
    }
}

.price__item {
    width: 257px;
    height: 457px;
    margin: 0px 12px 0 12px;

    @media (min-width: $width-320) {
        &:nth-child(2n) {
            margin-top: 18px;
        }
    }

    @media (min-width: $width-640) {
        &:nth-child(2n) {
            margin-top: 0px;
        }

        &:nth-child(4n) {
            margin-top: 0px;
            margin-left: 24px;
        }
    }   

    @media (min-width: $width-992) {
        width: 205px;
        height: 457px;
    }


    @media (min-width: $width-1200) {
        width: 257px;

        &:nth-child(4n) {
            margin-left: 10px;
        }
    }
}

.price__item-accent{
    width: 299px;
    height: 560px;

    @media (min-width: $width-320) {
        margin-top: 18px;
    }

    @media (min-width: $width-640) {
        margin-left: -30px;
    }

    @media (min-width: $width-992) {
        width: 245px;
        height: 457px;
        margin: 0 10px;
    }

    @media (min-width: $width-1200) {
        width: 299px;
        height: 560px;
    }
}

.pricing__body {
    height: 360px;
    background-color: $pricingItemBackground;

    // @media (min-width: $width-740) {
    //     background-color: rgba(95, 81, 97, 0.41);
    //     mix-blend-mode: normal;
    // }
}

.pricing__body-accent {
    height: 449px;
    background-color: $pricingItemBackgroundAccent;

    @media (min-width: $width-992) {
        height: 400px;
    }

}

.price__header {
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    height: 257px;
    height: 97px;
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    background-color: $picingItemHeaderBeckground;
}

.price__header-accent {
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    height: 111px;
    width: 299px;
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    background-color: $picingItemHeaderBeckgroundAccent;

    @media (min-width: $width-992) {
        width: 245px;
    }

    @media (min-width: $width-1200) {
        width: 299px;
    }
}

.price__price-accent {
    width: 299px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    display: flex;
    text-align: center;
    justify-content:center;
    align-items: center;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 60px;
    line-height: 62px;

    &:before {
        content: '$';
        font-weight: 300;
    }

    @media (min-width: $width-992) {
        width: 245px;
    }

    @media (min-width: $width-1200) {
        width: 299px;
    }


}

.price__price {
    padding-top: 30px;
    color:#fff;
    height: 57px;
    display: flex;
    text-align: center;
    justify-content:center;
    align-items: center;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 60px;
    line-height: 62px;

    &:before {
        content: '$';
        font-weight: 300;

    }
}

.price__period {
    position: relative;
    margin: 20px;
    display: flex;
    text-align: center;
    justify-content:center;
    align-items: center;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    height: 18px;
    color: #fff;
    text-transform: uppercase;

    &::after {
        left:50%;
        transform:translate(-50%);
        top: 56px;
        position: absolute;
        content: '';
        height: 5px;
        width: 60px;
        background: $lightAcсentColor;
    }
}

.price__period-accent {
    margin-top: 16px;
    position: relative;
    margin: 20px;
    display: flex;
    text-align: center;
    justify-content:center;
    align-items: center;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    height: 18px;
    color: #fff;
    text-transform: uppercase;

    &::after {
        left:50%;
        transform:translate(-50%);
        top: 56px;
        position: absolute;
        content: '';
        height: 5px;
        width: 60px;
        background: $lightAcсentColor;
    }
}

.price__type-license {
    margin-top: 91px;
    height: 44px;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    justify-content: center;
    font-family: Montserrat;
    font-style: normal;
}

.price__type-license-accent {
    margin-top: 91px;
    display: flex;
    height: 48px;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
}

.price__purchase-button {
    display: inline-block;
    background-color: $pricingPurchaseButton;
    color: #fff;
    border-radius: 30px;
    margin-top: 37px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px 36px 14px 36px;
}

.price__purchase-button-accent {
    display: inline-block;
    background-color: $pricePurchaseButtonAccent;
    color: #fff;
    border-radius: 30px;
    margin-top: 37px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 48px 19px 48px;
}
