@import "variables";
// test
.test {
  font-family: Montserrat;
}

.background {
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/main-image.png);
  -moz-background-size: cover; /* Firefox 3.6+ */
  -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: cover; /* Opera 9.6+ */
  background-size: cover; /* Современные браузеры */
  background-repeat: no-repeat;
  //background-attachment: fixed;
  background-position: center;
  height: 718px;
}

.header {
  margin-left: auto;
  margin-right: auto;
  padding-top: 31px;
  padding-bottom: 31px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: $menuBackground;
//background: $menuBackground-transparent;
}

.nav__menu-item {
  display: flex;
}

.nav__drop-menu {
  position: absolute;
  //margin-left: auto;
  //margin-right: auto;
  top: 100%;
  right: 15px;
  //width: 88%;
  width: 292px;
  //padding-left: 6%;
}

.nav__drop-menu-item {
  background: $dropMenuBackground;

  height: 100%;
}

.nav__drop-menu-link {
  //@include font-s11-lh22;
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 26px;
  margin-left: 35px;
  display: block;
  height: 100%;
  width: 100%;
  //padding: 6px 14px 8px 30px;
  padding-top: 29px;
  padding-bottom: 21px;
  text-decoration: none;
  color: #fff;

//  &:after {
//    position: absolute;
//  content: '';
//  width: 90%;
//  height: 1px;
//  background: $dropMenuSeparator;
//    top: 155%;
//    left: -34px;
//}

  &:hover {
    color: $lightAcсentColor;
    cursor: pointer;
    &:before {
      position: absolute;
      content: '';
      width: 8px;
      height: 53px;
      background: $lightAcсentColor;
      left: -34px;
      top: 16px;
    }
  }
}

.logo {
  margin-left: 16px;
display: flex;
}

.logo__picture {
  //margin-left: 16px;
  display: flex;
  align-items: center;
}

.logo__company-name {
  display: none;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
  text-transform: uppercase;
  margin-left: 17px;
  color: $lightAcсentColor;
  align-self: center;
}

.menu {
  display: none;
}

.menu__item-link {
  color: blue;
}

.buy-now-button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  align-self: center;
  background: $lightAcсentColor;
  padding: 8px 25px 10px 25px;
  border-radius: 15px;
  color: #fff;
}

.drop-menu-button {
  margin-right: 16px;

}
