//colors
$lightAcсentColor: #8D81AC;
$darkAccentColor: #635C73;
$basisGray: #848E97;
$darkGray: #323232;
$mediumAccentColor: #A291A5;
$menuBackground: rgba(39, 38, 42, 100);
$menuBackground-transparent: rgba(39, 38, 42, 0);
$dropMenuBackground: #333333;
$dropMenuSeparator: #4e4e4e;
$feedbackLineColor: #645766;
$pricingBackground: #4B3B4E;
$picingItemHeaderBeckground: #695B6A;
$pricingItemBackground: #5F5161;
$pricingPurchaseButton:#776B79;
$picingItemHeaderBeckgroundAccent: #402D42;
$pricingItemBackgroundAccent: #473249;
$pricePurchaseButtonAccent: #635164;

//width
$width-320: 320px;
$width-360: 360px;
$width-480: 480px;
$width-576: 576px;
$width-640: 640px;
$width-768: 768px;
$width-910: 910px;
$width-992: 992px;
$width-1024: 1024px;
$width-1100: 1100px;
$width-1200: 1200px;



